.cont__check {
    margin-right: 16px;
}
.li{
    /* display: flex;
    justify-content: space-between; */
    position: relative;
}

.check__text {
    display: inline;
    font-size: 16px;
    line-height: 21px;
    color: #54595E;
    margin-left: 16px;
}
.check__made {
    display: inline;
    font-size: 16px;
    line-height: 21px;
    color: #54595E;
    text-decoration: line-through;
    opacity: 0.5;
}

.cont__cross {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    background-color: #FFFFFF;
    border: 0;
    position: absolute;
    right: 0;
    /* margin-left: auto; */
    /* float: right; */
}

